h2{
    padding: 100px 0 0 0;
}
p{
    padding: 2%;
    margin: 0 10px;
}
.formLogin{
    padding: 1%;
    margin: 2% 25%;
    border: 1px solid #555;
    border-radius: 5px;
    width: 50%;
}

.buttonDiv{
    padding: 4%;
}

h6 {
    color: red;
    font-size: 14px;
}

h4{
    color: red;
}

