a{
    list-style: none;
    text-decoration: none;
    color: white; 
}
a:hover{
    color:aquamarine;
}
.postBox{
    background-color: #282c34;
    color: white;   
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 1% 3%;
}
.postHead h3{
    padding: 1%;
}
.postImg{
    background-color: rgb(189, 131, 247);
    height: 60px;
    width: 60px;
    border-radius: 31px;
    padding: 2%;
    margin-right: 45px;
}
.postHead{
    display:flex;
    justify-content: space-between;
    margin: 2%;
}
.postFoot{
    display:flex;
    justify-content: space-between;
}
#heart{
    font-size: 20px;
    padding: 1%;
    margin-left: 5%;
}
#heart:hover{
    color: #FF6161;
}
.wrapperBox{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.multiPostBox{
    width: 50%;
}